#canvas {
    padding: 0;
    width: 100%;
    border-bottom: 2px solid black;
}

.tablink {
    color: black;
    float: left;
    cursor: pointer;
    padding: 8px 10px;
    font-size: 17px;
    width: 15%;
}

.tablink:hover {
    background-color: rgb(160, 160, 160);
}

.img-show {
    opacity: 0;
    position: absolute;
    top: 10px;
    left: 400px;
    margin: 10%;
}