/* 绘制网格 */
#grid {    
    margin: 0;
    padding: 0;
    background: #58a;
    background-image:
        linear-gradient(rgba(255,255,255,.3) 1px, transparent 0),
        linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 0),
        linear-gradient(white 2px, transparent 0),
        linear-gradient(90deg, white 2px, transparent 0);
    background-size: 10px 10px, 10px 10px, 70px 70px, 70px 70px;
    width: 100%;
    height: 100%;
}