#canvas {
    margin-right: 0;
    width: 100%;
    border-bottom:2px solid black;
}
.tablink {
    background-color: white;
    color: black;
    float: left;
    cursor: pointer;
    padding: 8px 10px;
    font-size: 17px;
    width: 15%;
}

.tablink:hover {
    background-color: #777;
}