.side-panel {
    width: 100%;
    height: 40%;
    position: relative;
    top: -40%;
    background-color: white;
    border-top: 2px solid black;

    display: grid;
    grid-template-rows: 12% 88%;
}

.content button {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 15px;
    padding: 10px 15px;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: white;
}

#closePanel {
    display: inline-block;
    padding: 7px;
    position: absolute;
    top: -2%;
    right: 0;
    font-size: 25px;
}

.tablink {
    background-color: white;
    color: black;
    float: left;
    outline: none;
    padding: 14px 20px;
    border: none;
    font-family: "微软雅黑";
    font-weight: bold;
    font-size: 15px;
    width: auto;
}

.tablink:hover {
    background-color: rgb(128, 128, 128);
}

.tabcontent {
    margin: 0;
    padding: 0;
    position: relative;
    top: 12px;
}


.content p {
    font-size: 18px;
    position: relative;
    margin-top: 15px;
    margin-left: 20px;
    text-align: start;
}

.content span {
    font-size: 18px;
    position: relative;
    margin-top: 15px;
    margin-left: 20px;
    text-align: start;
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: -230px;
    margin-left: 20px;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: gray;
}