html {
    height: 100%;
}
body {
    height: 100%;
}


.toolbox {
    padding-top: 50px;
}

.workspace {
    height: calc(100% - 105px);
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-column-gap: 0;
}